/* Global > Base styles */

:root {
  --section-space-100: 100px;
  --section-space-50: 50px;
  --space-1x: 40px;
  --space-05x: 20px;
  --space-2x: 80px;
  --purple-text-color: #fb2bfc;
  --dark-purple-color: #b746c0;
  --blue-color: #2b7cd0;
  --light-blue-color: #e0edf5;
  --dark-color: #15161c;
  --red-color: #ff0000;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans";
  color: #192134;
}

a {
  text-decoration: none;
  color: inherit;
  color: #2b7cd0;
}

p {
  margin-top: 0;
  font-size: 16px;
  line-height: 1.3;
}

sup {
  font-size: 70%;
}

.purple-text {
  color: var(--purple-text-color);
}

.gradiant-purple-text {
  color: #5055fa;
  background-image: -webkit-linear-gradient(270deg, #5055fa 40%, #a903c9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

/* Various */

.content-width {
  width: min(var(--content-width), 100%);
  margin: 0 auto;
  overflow: auto;
}

.content-extended-width {
  width: min(var(--content-extended-width), 100%);
  margin: 0 auto;
  overflow: auto;
}

.blue-button {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding: 7px 20px;
  background-color: #2a7cd0;
  color: #fff;
  line-height: 22px;
  border: 1px #2a7cd0 solid;
  border-radius: 5px;
}

.pink-button {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  padding: 8px 40px;
  background-color: #ffffff;
  color: #242424;
  line-height: 22px;
  border: 1px #fb2bfc solid;
  border-radius: 5px;
}

.img-fill-container {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Hero */
.hero-logos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}

.hero-box-text {
  width: 60%;
  padding-bottom: 100px;
}

.hero-box-content {
  padding: 80px 0 30px;
}

.hero-box h1 {
  margin-bottom: 50px;
  font-weight: 400;
}

.hero-box h2 {
  margin-bottom: 30px;
  font-weight: 400;
}

.hero-box h4 {
  font-weight: 300;
  margin-bottom: 30px;
  width: 80%;
}

.hero-background {
  background-image: url("../img/hero-image-bg-grey.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-background-laptop {
  background-image: url("../img/hero-image-laptop.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50vw;
  min-height: 650px;
  display: flex;
  align-items: center;
}

.hero-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  color: #15161c;
}

.hero-button img {
  max-width: 40px;
}

@media (max-width: 850px) {
  .hero-background-laptop {
    background-image: unset;
  }
}

/* Hero */

/* Section: three-blocks */

#three-blocks {
  --card-min-width: 240px;
  padding: 0 0 var(--section-space-50);
}

#three-blocks > p {
  text-align: center;
  max-width: 900px;
  margin: 0 auto 50px;
}

.cards-row {
  display: grid;
  gap: 100px;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
}

.card-item {
  display: flex;
  flex-direction: column;
}

.card-text {
  flex-grow: 1;
  padding: 10px 0 20px;
  overflow: hidden;
}

.card-text h4 {
  margin: 0 0 15px;
}

/* work-magic */

#work-magic-description {
  padding-top: var(--section-space-100);
  padding-bottom: var(--section-space-100);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 130%;
  background-image: url("../img/work-magic-bg.png");
}

#work-magic-description h2 {
  margin-bottom: 10px;
  text-align: center;
}

#work-magic-description h4 {
  margin-bottom: 20px;
  text-align: center;
}

.work-magic-button {
  text-align: center;
}

.work-magic-text {
  text-align: center;
  padding-bottom: 30px;
  max-width: 750px;
  margin: auto;
}

.work-magic-glass-bg {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.4px);
  -webkit-backdrop-filter: blur(2.4px);
  border-radius: 12px;
  padding: 100px 50px;
}

@media (min-width: 1910px) {
  #work-magic-description {
    background-image: url("../img/work-magic-bg@2x.png");
    background-repeat: no-repeat;
    background-position: 50% 150%;
    background-size: 130%;
  }
}
@media (min-width: 1210px) {
  #work-magic-description {
    background-image: url("../img/work-magic-bg@2x.png");
    background-repeat: no-repeat;
    background-position: 50% 110%;
    background-size: 130%;
  }
}

@media (max-width: 767px) {
  .work-magic-text {
    width: 100%;
  }
  #work-magic-description {
    background-position: 50% 90%;
  }
}
/* work-magic */

/* productivity */

#productivity {
  padding-top: var(--section-space-50);
  padding-bottom: var(--section-space-50);
}

.productivity-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.main-description-text {
  max-width: 400px;
}

.main-description-text h2,
.main-description-text h4 {
  color: #fff;
}

.main-description-img > h4 {
  display: none;
}

.main-description-img {
  text-align: end;
}

.main-description-img img {
  max-width: 100%;
}

@media (max-width: 767px) {
  .productivity-block img {
    margin: auto;
  }
  .productivity-block {
    flex-wrap: wrap;
  }
  .main-description-text {
    max-width: 100%;
  }
  .main-description-text h4 {
    display: none;
  }
  .main-description-img {
    text-align: center;
  }
  .main-description-img > h4 {
    display: block;
    color: #fff;
    margin-top: 50px;
    text-align: left;
  }
}

/* productivity */

/* security */

#security {
  padding-top: var(--section-space-50);
  padding-bottom: var(--section-space-50);
}

.security-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.security-img > h4 {
  display: none;
}

.security-img {
  text-align: end;
}

.security-img img {
  max-width: 100%;
}

.security-text {
  max-width: 400px;
}

@media (max-width: 767px) {
  .security-block img {
    margin: auto;
  }
  .security-block {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .security-text h4 {
    display: none;
  }
  .security-img {
    text-align: center;
  }
  .security-img > h4 {
    display: block;
    margin-top: 50px;
    text-align: left;
  }
  .security-text {
    max-width: 100%;
  }
}

/* security */

/* business-effiency */

#business-effiency {
  padding-top: var(--section-space-50);
  padding-bottom: var(--section-space-50);
}

.business-effiency-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.business-effiency-text {
  max-width: 400px;
}

.business-effiency-text h2,
.business-effiency-text h4 {
  color: #fff;
}

.business-effiency-img > h4 {
  display: none;
}

.business-effiency-img {
  text-align: end;
}

.business-effiency-img img {
  max-width: 100%;
}

@media (max-width: 767px) {
  .business-effiency-block img {
    margin: auto;
  }
  .business-effiency-block {
    flex-wrap: wrap;
  }
  .business-effiency-text {
    max-width: 100%;
  }
  .business-effiency-text h4 {
    display: none;
  }
  .business-effiency-img {
    text-align: center;
  }
  .business-effiency-img > h4 {
    display: block;
    color: #fff;
    margin-top: 50px;
    text-align: left;
  }
}

/* business-effiency */

/* ebook */
#ebook {
  padding-top: var(--section-space-50);
  padding-bottom: 150px;
  background-image: url("../img/e-book-bg-line.png");
  background-repeat: no-repeat;
  background-position: 50% 75%;
  background-size: 150%;
}

.ebook-text {
  max-width: 550px;
}

.ebook-text h2 {
  margin-bottom: 30px;
}

.ebook-text p {
  margin-bottom: 50px;
}

.ebook-img img {
  max-width: 100%;
}

.ebook-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.ebook-glass-bg {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.4px);
  -webkit-backdrop-filter: blur(2.4px);
  border-radius: 12px;
  padding: 50px;
}

@media (min-width: 1210px) {
  #ebook {
    background-image: url("../img/e-book-bg-line@2x.png");
    background-repeat: no-repeat;
    background-position: 50% 90%;
    background-size: 135%;
  }
}

@media (max-width: 767px) {
  .ebook-text {
    max-width: 100%;
  }
  .ebook-block {
    flex-wrap: wrap;
  }
}

/* copilot */

#copilot {
  padding-top: var(--section-space-50);
  padding-bottom: var(--section-space-50);
}

.copilot-block {
  display: flex;
  margin-top: -70px;
  justify-content: space-between;
  gap: 30px;
}

.copilot-text {
  max-width: 800px;
  margin-top: 70px;
}

.copilot-img img {
  max-width: 450px;
  min-width: 350px;
  width: 100%;
}

.copilot-text > h3,
.copilot-text > h4 {
  margin-bottom: 30px;
}

.copilot-text-two-block {
  display: flex;
  gap: 40px;
  padding-bottom: 30px;
}

.copilot-text-block h4 {
  margin-bottom: 10px;
}

.copilot-text-bottom {
  margin-bottom: 10px !important;
  font-size: 20px;
}

@media (max-width: 767px) {
  .copilot-text {
    width: auto;
  }
  .copilot-text-two-block {
    flex-direction: column;
  }
  .copilot-block {
    flex-wrap: wrap;
    margin-top: 0;
  }
  .copilot-text {
    max-width: 100%;
    margin-top: 0;
  }
}
/* copilot */

/* apps */

#apps {
  /* padding-top: var(--section-space-50); */
  padding-bottom: var(--section-space-50);
}

#apps h3 {
  margin-bottom: 50px;
  text-align: center;
}

.apps-block {
  display: flex;
  gap: 40px 0;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}

.apps-images {
  width: 18%;
  margin: auto;
  text-align: center;
}

.apps-images img {
  padding-bottom: 20px;
  max-height: 108px;
}

.apps-images p {
  padding-left: 15px;
  font-weight: 500;
  font-size: 18px;
}

@media (max-width: 767px) {
  .apps-block {
    gap: 40px 30px;
  }
  .apps-images {
    width: 107px;
    margin: auto;
  }
}

/* apps */

/* shop */

#shop {
  padding-top: var(--space-1x);
  padding-bottom: var(--space-1x);
}

#shop > div {
  margin-top: -110px;
}

.shop-block {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.shop-text {
  max-width: 350px;
}

.shop-img {
  width: 70%;
}

.shop-img img {
  width: 100%;
}

.shop-text h2 {
  color: #fff;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .shop-block {
    flex-wrap: wrap;
  }
  .shop-text {
    max-width: 100%;
  }
  #shop > div {
    margin-top: 0;
  }
}

/* shop */

/* sustainability */

#sustainability {
  padding-top: var(--section-space-50);
  padding-bottom: var(--section-space-50);
}

.sustainability-text {
  width: 70%;
}

.sustainability-text h3,
.sustainability-text p {
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .sustainability-text {
    width: auto;
  }
}
/* sustainability */

/* work */
#work {
  padding-top: var(--section-space-50);
  padding-bottom: var(--section-space-50);
}

.work-glass-bg {
  background: #ffffff;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.work-block {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  background-image: url("../img/work-image.png");
  padding: 0 50px;
}

.work-text {
  max-width: 500px;
  padding: 50px 0;
}

.work-text h3 {
  margin-bottom: 20px;
}

.work-secure {
  padding: 50px 0 50px;
}

.work-img {
  display: none;
}

.work-img img {
  max-width: 500px;
}

@media (max-width: 1100px) {
  .work-block {
    display: flex;
    flex-wrap: wrap;
    background-image: unset;
  }
  .work-text {
    max-width: 100%;
  }
}
/* work */

/* pre-footer */

#pre-footer {
  padding-top: var(--section-space-50);
  padding-bottom: var(--section-space-50);
}

.pre-footer-block {
  display: flex;
  gap: 30px;
}

.pre-footer-text {
  width: 50%;
}

.pre-footer-text p {
  font-size: 12px;
}
.pre-footer-text ol li::marker {
  padding-right: 10px;
}

.pre-footer-text-list {
  display: flex;
  gap: 15px;
  font-size: 12px;
}

@media (max-width: 767px) {
  .pre-footer-block {
    flex-wrap: wrap;
    gap: 0;
  }
  .pre-footer-text {
    width: 100%;
  }
}
/* pre-footer */

/* footer */

#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #15161c;
}

.footer-text img {
  padding-bottom: 30px;
}

.footer-text p {
  color: #ff3333;
}

/* footer */

.contoso-logo {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 17px;
}
.site-nav {
  list-style: none; /* Removes bullets */
  padding-left: 0; /* Resets padding */
  display: flex; /* Creates a horizontal navigation layout */
  gap: 1rem; /* Adjust the space between navigation items */
  align-items: center; /* Align items vertically in the center */
}

.site-nav li {
  padding: 0.5rem 0; /* Adds padding to the top and bottom of each list item */
}
