body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}
/* This ensures that the "Sign In" and profile image are pushed to the far right of the navbar */
.nav-item.profile {
    margin-left: 20%;

}

/* Additional styling for the "Sign In" link if needed */
.sign-in-link {
    margin-right: 15px; /* Space between 'Sign In' text and profile image */
}

.navbar {
    display: flex;
    justify-content: flex-start;
    background-color: #fff;
    padding: 10px;
    padding-left: 20%;
    list-style: none;
    margin-left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-direction: row;
    font-size: 14px; /* Standard font size for navbar */
}

.nav-item {
    margin: 0 4px; /* Reduced margin between navigation items */
    position: relative;
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: black;
    padding: 10px 5px; /* Reduced padding for less horizontal spacing */
    display: block;
}

.nav-link:hover {
    text-decoration: underline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 0;
    top: 100%;
    margin-top: 10px;
    width: auto; /* Adjust width as needed, or keep it auto */
    white-space: nowrap;
}

.column {
    padding: 15px;
    min-width: 120px;
}

.column a {
    text-decoration: none;
    color: black;
    padding: 2px 0;
    display: block;
    font-size: 13px; /* Smaller font size for dropdown items */
}

.column a:hover {
    text-decoration: underline;
}

.profile {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    justify-content: center; /* Centers items horizontally within the container */
    flex-wrap: nowrap; /* Prevents wrapping, keeping items in a single row */
    margin-left: 20%; /* Pushes the container to the right */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.nav-item.dropdown:hover .dropdown-content {
    display: block;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding-left: 0;
    }

    .nav-item {
        width: 100%;
        justify-content: center;
    }

    .navbar-toggle {
        display: block;
        margin-left: auto;
        margin-right: 10px;
    }

    .dropdown-content {
        left: 0;
        right: 0;
        text-align: center;
    }

    .profile {
        order: -1; /* Profile icon appears at the top on mobile */
    }
}
.nav-item.right-start {
    margin-left: 40%;  /* This will push it to the right */
}
