/* Landing > Base styles */

:root {
  --content-width: 1206px;
  --content-extended-width: 1600px;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Noto Sans";
  color: #192134;
}

h1,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  color: var(--h-c-primary);
  line-height: 1.1;
}
h2 {
  margin-top: 0;
  line-height: 1.3;
}

h1,
.h1 {
  font-size: 100px;
  font-weight: 600;
}

h2 {
  font-size: 60px;
  font-weight: 600;
}

h3 {
  font-size: 40px;
  font-weight: 600;
}

h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 38px;
}

nav {
  font-weight: bold;
}

nav ul {
  margin: 0;
  padding: 0;
}

/* Layout */

.text-black {
  color: black;
}

.button:hover {
  filter: brightness(1.27);
}

.light-gray-background {
  background: #d9d9d9;
}

.lighter-gray-background {
  background: #f2f2f2;
}

.lighter-gray-background-2 {
  background: #fafafa;
}

.dark-gray-background {
  background: #343434;
}

.dark-blue-background {
  background: #263355;
}

.light-blue-background {
  background: var(--light-blue-color);
}

.dark-background {
  background: var(--dark-color);
}

.gradiant-purple-text {
  color: #5055fa;
  background-image: -webkit-linear-gradient(270deg, #5055fa 40%, #a903c9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  border-inline-color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.blue-color {
  color: var(--blue-color);
}

.dark-purple-color {
  color: var(--dark-purple-color);
}

.red-color {
  color: var(--red-color);
}

ul {
  list-style: none;
}

ul li {
  position: relative;
}

ul li::before {
  content: "";
  width: 3px;
  height: 3px;
  background: #b746c0;
  border-radius: 20px;
  position: absolute;
  bottom: 50%;
  left: -20px;
}

@media (max-width: 1206px) {
  .mobile-x-space {
    padding: 20px;
  }
}
